/*=========================================
            DESIGN TOKENS
=========================================*/

:root {
  /*=====================================
                BRAND COLORS
    =====================================*/

  --primary: #13515e;

  --primary-hover: #0f424c;

  --accent: #1fa971;

  --white: #ffffff;

  --background: #ffffff;

  --heading: #0f172a;

  --text: #475569;

  --border: #d9e4ea;

  /*=====================================
                TYPOGRAPHY
    =====================================*/

  --heading-font: "Poppins", sans-serif;

  --body-font: "Inter", sans-serif;

  /*=====================================
                BORDER RADIUS
    =====================================*/

  --radius-sm: 12px;

  --radius-md: 18px;

  --radius-lg: 24px;

  --radius-round: 999px;

  /*=====================================
                TRANSITION
    =====================================*/

  --transition: 0.35s ease;

  /*=====================================
                SHADOW
    =====================================*/

  --shadow-sm: 0 5px 15px rgba(15, 23, 42, 0.08);

  --shadow-md: 0 10px 30px rgba(15, 23, 42, 0.12);

  --shadow-lg: 0 20px 60px rgba(15, 23, 42, 0.15);
}
